export NAGASE_SECRET_KEY=sample_secret_key
export NAGASE_SECRETS_DIR=secrets
export NAGASE_FILES_DIR='/tmp'

export DB_HOST=127.0.0.1
export DB_USERNAME=
export DB_PASSWORD=
export DB_NAME=

export SENDGRID_API_KEY=
